<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64299765976-3fjpi7ibak6o594689nlr247rouguckc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64299765976-3fjpi7ibak6o594689nlr247rouguckc</string>
	<key>API_KEY</key>
	<string>AIzaSyDla-cBCUKktL-M8lobOC7FNl1MxdBCd1U</string>
	<key>GCM_SENDER_ID</key>
	<string>64299765976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laonstory.shareProductV2</string>
	<key>PROJECT_ID</key>
	<string>shareproductv2</string>
	<key>STORAGE_BUCKET</key>
	<string>shareproductv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64299765976:ios:79a8754096e056307f87ad</string>
</dict>
</plist>